<div class="container-fluid header" > 
    <div class="row">
        <div class="mt-5 offset-5">
  <h1 >Checkboxes</h1>
<div class="checkbox">
    <label><input type="checkbox" value="">Option 1</label>
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="">Option 2</label>
  </div>
  <div class="checkbox disabled">
    <label><input type="checkbox" value="" >Option 3</label>
  </div>
  <button  routerLink="/pics" class="btn btn-info">Proceed</button>
        </div>
    </div>
</div>