
<div class="container-fluid" > 
    <div class="row">
        <div class="mt-2 offset-4">
            <h1 >Choose any one</h1>
        </div>
   
    </div>
    </div>


       
<div class="container-fluid" > 
    <div class="row">
      
       
        <div class="mt-3 offset-1">
            
            <a [routerLink]="['/pics1']" class="btn"><img  class="logo" src="https://i.ytimg.com/vi/6tUWYXe9qbY/maxresdefault.jpg" ></a>
        </div>
        <div class="mt-3 offset-2">
            <a [routerLink]="['/pics2']" class="btn"><img class="logo" src="https://i.ytimg.com/vi/ZmOVGu_fEIU/maxresdefault.jpg" ></a>
        </div>
        
      
    </div>
    </div>


       