<div class="container-fluid" > 
    <div class="row">
        <div class="mt-2 offset-4">
            <h1 >Choose any one</h1>
        </div>
   
    </div>
    </div>
<div class="container-fluid" > 
    <div class="row">
      
        <div class="mt-3 offset-1">
            <a [routerLink]="['/videos5']" class="btn"><img  class="logo" src="https://i.ytimg.com/vi/ZmOVGu_fEIU/maxresdefault.jpg" ></a>
        </div>    
        <div class="mt-3 offset-2">
    
            <a [routerLink]="['/videos6']" class="btn"><img  class="logo" src="https://www.drivespark.com/bikes-photos/models/750x550/ninja-zx-10r-[2020]_1558511227.jpg/3/x.pagespeed.ic.yMnNZjjdKI.jpg" ></a>
        </div>
        <div class="mt-3 offset-1">
    
            <a [routerLink]="['/videos7']" class="btn"><img  class="logo" src="https://www.drivespark.com/bikes-photos/models/750x550/ducati-panigale-v4_1515670699.jpg/3/x.pagespeed.ic.2plN3STUEi.jpg" ></a>
        </div>
        <div class="mt-3 offset-2">
    
            <a [routerLink]="['/videos8']" class="btn"><img  class="logo" src="https://www.drivespark.com/bikes-photos/models/750x550/yzf-r1-[2018]_1515501153.jpg/3/x.pagespeed.ic.McQYhvo3yC.jpg" ></a>
        </div>
      
    </div>
    <div class="mt-3 offset-5">
    <button routerLink="/exit" class="btn btn-danger">EXIT</button>
    </div>
    </div>