<div class="container-fluid header" > 
    <div class="row">
        <div class="mt-5 offset-5"> 
<h1>LOGIN</h1>
<div class="form-group">
    <label>USERNAME</label>
    <div class="input-group">
        
            <div class="input-group-text">
                <i class="fas fa-user"></i>  
            </div>
            <input type="text" placeholder=" Enter Username" >
        
    </div>

</div>
<div class="form-group">
    <label>PASSWORD</label>
    <div class="input-group">
        
            <div class="input-group-text">
                <i class="fas fa-unlock"></i>
            </div>
            <input type="text" placeholder=" Enter Password" >
        
    </div>

</div>
<button  routerLink="/list" class="btn btn-info">Proceed</button>
        </div>
    </div>
</div>